@import "tailwindcss";

@theme {

  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --font-billgest: var(--font-billgest);
  --font-jakarta: var(--font-jakarta);
}


:root {
  --background: oklch(0.985 0 0); 
  --foreground: oklch(0.145 0 0); 

}

body {
  font-family: var(--font-jakarta);
}


.font-display {
  font-family: var(--font-billgest);
}